.form {
  width: 100%;
}

.socialIconsContainer {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin: 24px 0;
}

/* New style for the circular social icon buttons */
.socialButton {
  background-color: #2d2d2d !important; /* Dark gray background */
  width: 56px;
  height: 56px;
}

.linksContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-top: 24px;
}
